<h1>New Viagem</h1>

	<% form_tag viagens_path, :method => :post do -%>
		<p>
		Pessoa: <%= collection_select(:pessoa, :pessoa_id, @pessoas, :neo_id, :nome, {:prompt => true}) %>
		</p>
		
		<p>
			Lugar: <%= collection_select(:lugar, :lugar_id, @lugares, :neo_id, :cidade, {:prompt => true}) %>
		</p>
		
		<p>
			<%=submit_tag 'Gravar' %>
		</p>
   <% end %>

   <%= link_to 'Back', pessoas_path %>

